{% extends 'base.html' %} {% block content %}

<h1>Joke Detail</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Told By: {{ user.username }}</span>
                <p class="joke-body">Joke: {{ joke.body }}</p>
                {% if joke.punchline %}
                <p class="punchline">Punchline: {{ joke.punchline }}</p>
                {% endif %}
                <p>{{ favorite_count }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'joke_favorites_add' joke.id %}">Favorite</a>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'jokes_update' joke.id %}">Edit</a>
                <a href="{% url 'jokes_delete' joke.id %}">Delete</a>
            </div>
        </div>
        <div>
            {% if user.is_authenticated %}
            <form action="{% url 'comments_add' joke.id%}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn" value="Add Comment">
            </form>
            <br />
            {% else %}
            <h3>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</h3>
            {% endif %}
            {% for comment in comments %}
            <div class="card">
                <div class="card-content">
                    <h5>{{ comment.user.username }} <span class='comment_date'>{{ comment.date }} </span></h5><br />
                    <span id="comment-{{ comment.id }}">{{ comment.text }}</span>
                    <form action="{% url 'comments_update' comment.id%}" method="post"
                        id="comment-form-{{ comment.id }}" class="hidden">
                        {% csrf_token %}
                        <input name="text" type="text" id="id_text_{{ comment.id}}" maxlength="200"
                            value="{{ comment.text }}" required>
                        <input type="submit" value="Submit" class="btn" />
                        <input type="button" value="Cancel" class="btn comment-update-cancel-btn"
                            data-form="comment-form-{{ comment.id }}" data-id="comment-{{ comment.id }}" />
                    </form>
                </div>
                {% if user.is_authenticated and user.id == comment.user.id %}
                <div class="card-action">
                    <a class="comment-update-btn" data-id="comment-{{ comment.id }}"
                        data-form="comment-form-{{ comment.id }}">Edit</a>
                    <a href="{% url 'comments_delete' comment.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}